<li><a href="/introduction.html">Introduction &rarr;</a></li>
<li class="list-section{% if page.category == "For Clients" %} on{% endif %}"><span>For Clients</span>
  <ul>
    <li><a href="#" class="no-click">Getting Started with Alfa Jango</a></li>
    <li><a href="/tech-status-dashboard.html">The Tech Status Dashboard</a></li>
    <li><a href="/cms-tips.html">Content Management for Non-Developers</a></li>
    <li><a href="#" class="no-click">Installing development version of iOS app</a></li>
    <li><a href="#" class="no-click">Software Pricing</a></li>
  </ul>
</li>
<li class="list-section{% if page.category == "For Employees" %} on{% endif %}"><span>For Employees</span>
  <ul>
    <li><a href="/redmine-guide.html">Redmine Guide</a></li>
    <li><a href="/sprints.html">Sprints</a></li>
    <li><a href="/security.html">Security</a></li>
    <li><a href="#" class="no-click">Data Backup</a></li>
    <li><a href="#" class="no-click">File Sharing</a></li>
    <li><a href="#" class="no-click">The Employee/Contractor Dashboard</a></li>
    <li><a href="/invoice-and-payment-numbering-system.html">Invoice and Payment Numbering System</a></li>
    <li><a href="/new-client-onboarding.html">New Client Onboarding</a></li>
    <li><a href="/new-hire-onboarding.html">New Hire Onboarding</a></li>
  </ul>
</li>
<li class="list-section{% if page.category == "For Developers" %} on{% endif %}"><span>For Developers</span>
  <ul>
    <li><a href="/git-commit-guidelines.html">Git Commit Guidelines</a></li>
    <li><a href="/time-tracking.html">Time Tracking</a></li>
    <li><a href="/client-documentation.html">Client Documentation</a></li>
    <li><a href="/exception-management.html">Exception Management</a></li>
    <li><a href="/running-test-unit-tests.html">Running Test::Unit Tests</a></li>
    <li><a href="#" class="no-click">Project READMEs</a></li>
    <li><a href="/working-with-amazon-s3.html">Working with Amazon S3</a></li>
    <li><a href="/setting-up-google-apps.html">Setting up Google Apps Email</a></li>
  </ul>
</li>
